@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');


body {
    background-color: #2f2f2f;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 300;
    height: 90vh;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin: 10%;
}

.div-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.div-botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0px;
}

.button-social-media {
    background-color: #FCA311;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: #2f2f2f;
    font-weight: 600;
    width: 35%;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color;
}

.button-social-media:hover {
    transform: scale(1.1);
}

.button-social-media:active {
    background-color: #DF1265;
    /* Muda a cor do botão ao clicar */
}

.titulo {
    font-weight: 500;
    font-size: 2rem;
    margin: 1rem 0px;
    line-height: 2.5rem;
}

.strong-titulo {
    color: #FCA311;
    font-weight: 600;
}

.texto-descricao {
    font-size: 1.4rem;
    line-height: 2rem;
}

.spam-texto {
    color: #DF1265;
    font-weight: 600;
}

.div-esquerda {
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.foto-isma {
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}